{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Title -->
    {% block title %}
    {% endblock %}
    <!-- CSS Section -->
    {% block css%}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=0.82">
      <link rel="icon" type="image/png" href="../../authen/static/authen/images/globe.png">
  </head>
  <body>

    <!-- Burger Button Section -->
    <nav>
        <ul class="cd-primary-nav">
          <li><a href="{% url 'home' %}">Globe</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="{% url 'aboutus' %}">About Us</a></li>
          <li><a href="{% url 'howtoplay' %}">How To Play</a></li>
        </ul>
    </nav>
    <div class="cd-overlay-nav">
      <span></span>
    </div>

    <div class="cd-overlay-content">
      <span></span>
    </div>

    <a href="#0" class="cd-nav-trigger">Menu
      <span class="cd-icon"></span>
    </a>

    <!-- Card Wrapper -->
    <div class="wrapper">
      <!-- First Card -->
      {% for question in question1 %}
      <div class="card card--first" id="first_card">
        
        <div class="card__header card__header--first">
          <div class="card__watermark" data-watermark="Q1"></div>
          <div class="card__logo card__will-animate"></div>
          <span class="card__price card__will-animate" ></span>
          <h1  id="heading1" class="card__title card__will-animate">General</h1>

          <span class="card__subtitle card__will-animate">{{ question.question }}</span>
        </div>

        <div class="card__body" id="first_card_body">
          <div class="card__image card__will-animate"></div>
          <div class="card__wish-list card__wish-list--19 card__will-animate" id="buttons1">
            <div><button class="choices" id="1A" onclick="validator(checkAnswer('A', 1), 1)">{{ question.choice1}}</button></div>
            <div><button class="choices" id="1B" onclick="validator(checkAnswer('B', 1), 1)">{{ question.choice2 }}</button></div>
            <div><button class="choices" id="1C" onclick="validator(checkAnswer('C', 1), 1)">{{ question.choice3 }}</button></div>
            <div><button class="choices" id="1D" onclick="validator(checkAnswer('D', 1), 1)">{{ question.choice4 }}</button></div>
          </div>
          <span class="card__category card__will-animate"></span>
        </div>

      </div>
      {% endfor %}

      <!-- Second Card -->
      {% for question in question2 %}
      <div class="card card--second">

        <div class="card__header card__header--second">
          <div class="card__watermark" data-watermark="Q2"></div>
          <div class="card__logo card__will-animate"></div>
          <span class="card__price card__will-animate"></span>
          <h1 id="heading2" class="card__title card__will-animate">The Three R's</h1>
          <span class="card__subtitle card__will-animate">{{ question.question }}</span>
        </div>

        <div class="card__body">
          <div class="card__image card__will-animate"></div>
          <div class="card__wish-list card__wish-list--19 card__will-animate" id="buttons2">
            <div><button class="choices" id="2A" onclick="validator(checkAnswer('A', 2), 2)">{{ question.choice1 }}</button></div>
            <div><button class="choices" id="2B" onclick="validator(checkAnswer('B', 2), 2)">{{ question.choice2 }}</button></div>
            <div><button class="choices" id="2C" onclick="validator(checkAnswer('C', 2), 2)">{{ question.choice3 }}</button></div>
            <div><button class="choices" id="2D" onclick="validator(checkAnswer('D', 2), 2)">{{ question.choice4 }}</button></div>
          </div>
          <span class="card__category card__will-animate"></span>
        </div>

      </div>
      {% endfor %}

      <!-- Third Card -->
      {% for question in question3 %}
      <div class="card card--third">
        <div id="answerContainer3" style="display: none"></div>
        <div class="card__header card__header--third">
          <div class="card__watermark" data-watermark="Q3"></div>
          <div class="card__logo card__will-animate"></div>
          <span class="card__price card__will-animate" ></span>
          <h1 class="card__title card__will-animate" id="heading3">Resources & Waste</h1>
          <span class="card__subtitle card__will-animate">{{ question.question }}</span>
        </div>

        <div class="card__body">
          <div class="card__image card__will-animate"></div>
          <div class="card__wish-list card__wish-list--19 card__will-animate" id="buttons3">
            <div><button class="choices" id="3A" onclick="validator(checkAnswer('A', 3), 3)">{{ question.choice1 }}</button></div>
            <div><button class="choices" id="3B" onclick="validator(checkAnswer('B', 3), 3)">{{ question.choice2 }}</button></div>
            <div><button class="choices" id="3C" onclick="validator(checkAnswer('C', 3), 3)">{{ question.choice3 }}</button></div>
            <div><button class="choices" id="3D" onclick="validator(checkAnswer('D', 3), 3)">{{ question.choice4 }}</button></div>
          </div>
          <span class="card__category card__will-animate"></span>
        </div>

      </div>
      {% endfor %}

      <!-- Fourth Card -->
      {% for question in question4 %}
      <div class="card card--fourth">
        <div id="answerContainer4" style="display: none"></div>
        <div class="card__header card__header--fourth" style="display: block">
          <div class="card__watermark" data-watermark="Q4"></div>
          <div class="card__logo card__will-animate"></div>
          <span class="card__price card__will-animate"></span>
          <h1 class="card__title card__will-animate" id="heading4">Ecosystem</h1>
          <span class="card__subtitle card__will-animate">{{ question.question }}</span>
        </div>

        <div class="card__body">
          <div class="card__image card__will-animate"></div>
          <div class="card__wish-list card__wish-list--19 card__will-animate" id="buttons4">
            <div><button class="choices" id="4A" onclick="validator(checkAnswer('A', 4), 4)">{{ question.choice1 }}</button></div>
            <div><button class="choices" id="4B" onclick="validator(checkAnswer('B', 4), 4)">{{ question.choice2 }}</button></div>
            <div><button class="choices" id="4C" onclick="validator(checkAnswer('C', 4), 4)">{{ question.choice3 }}</button></div>
            <div><button class="choices" id="4D" onclick="validator(checkAnswer('D', 4), 4)">{{ question.choice4 }}</button></div>
          </div>
          <div class="card__wish-list card__wish-list--19 card__will-animate" id="checkscore_button">
          </div>
          <span class="card__category card__will-animate"></span>
        </div>

      </div>

    </div> <!-- /wrapper -->
    {% endfor %}

    <!-- Progress navigation bar -->
    <div class="cards-placeholder">
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
    </div>

    <!-- JS Section -->

    <!-- Suplementary -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <!-- Country specific -->
    {% block javascript %}
    {% endblock %}
  </body>
</html>
