<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block title %}
    {% endblock %}
    {% block css %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
  </head>
  <body>

    <!-- Navigation -->
    <div class="b-nav">
      <li><a class="b-link" href="" target="_blank">Globe</a></li>
      <li><a class="b-link" href="" target="_blank">Profile</a></li>
    </div>
    
    <!-- Burger-Icon -->
    <div class="b-container">
      <div class="b-menu">
        <div class="b-bun b-bun--top"></div>
        <div class="b-bun b-bun--mid"></div>
        <div class="b-bun b-bun--bottom"></div>
      </div>
    </div>

    <div class="wrapper">
      {% for question in question1 %}
      <div class="card card--first" id="first_card">
        <div class="card__header card__header--first">
          <div class="card__watermark" data-watermark="Q1"></div>
          <div class="card__logo card__will-animate"></div>

          <span class="card__price card__will-animate" ></span>

          <h1  id="heading1" class="card__title card__will-animate">Pollution</h1>
          <span class="card__subtitle card__will-animate">{{ question.question }}</span>

        </div>

        <div class="card__body" id="first_card_body">
          <div class="card__image card__will-animate"></div>
          <div class="card__wish-list card__wish-list--19 card__will-animate" id="buttons1">
          <div><button class="choices" id="1A">{{ question.choice1 }}</button></div>
          <div><button class="choices" id="1B">{{ question.choice2 }}</button></div>
          <div><button class="choices" id="1C">{{ question.choice3 }}</button></div>
          <div><button class="choices" id="1D">{{ question.choice4 }}</button></div>
          </div>
            <span class="card__category card__will-animate"></span>
        </div>
      </div>
      {% endfor %}

      {% for question in question2 %}
      <div class="card card--second">
        <div class="card__header card__header--second">
          <div class="card__watermark" data-watermark="Q2"></div>

          <div class="card__logo card__will-animate"></div>

          <span class="card__price card__will-animate"></span>

          <h1 id="heading2" class="card__title card__will-animate">The Three R's</h1>
          <span class="card__subtitle card__will-animate">{{ question.question }}</span>

        </div>

        <div class="card__body">
          <div class="card__image card__will-animate"></div>
          <div class="card__wish-list card__wish-list--19 card__will-animate" id="buttons2">
            <div><button class="choices" id="2A">{{ question.choice1 }}</button></div>
            <div><button class="choices" id="2B">{{ question.choice2 }}</button></div>
            <div><button class="choices" id="2C">{{ question.choice3 }}</button></div>
            <div><button class="choices" id="2D">{{ question.choice4 }}</button></div>
          </div>
          <span class="card__category card__will-animate"></span>
        </div>
      </div>
      {% endfor %}
      
      {% for question in question3 %}
      <div class="card card--third">
        <div id="answerContainer3" style="display: none"></div>

        <div class="card__header card__header--third">
          <div class="card__watermark" data-watermark="Q3"></div>

          <div class="card__logo card__will-animate"></div>

          <span class="card__price card__will-animate" ></span>

          <h1 class="card__title card__will-animate" id="heading3">Resources & Waste</h1>
          <span class="card__subtitle card__will-animate">{{ question.question }}</span>

        </div>

        <div class="card__body">
          <div class="card__image card__will-animate"></div>
          <div class="card__wish-list card__wish-list--19 card__will-animate" id="buttons3">
            <div><button class="choices" id="3A">{{ question.choice1 }}</button></div>
            <div><button class="choices" id="3B">{{ question.choice2 }}</button></div>
            <div><button class="choices" id="3C">{{ question.choice3 }}</button></div>
            <div><button class="choices" id="3D">{{ question.choice4 }}</button></div>
          </div>
          <span class="card__category card__will-animate"></span>
        </div>
      </div>
      {% endfor %}

      {% for question in question4 %}
      <div class="card card--fourth">
        <div id="score_container"></div>
        <div id="ques_body">
        <div id="answerContainer4" style="display: none"></div>

        <div class="card__header card__header--fourth">
            <div class="card__watermark" data-watermark="Q4"></div>
  
            <div class="card__logo card__will-animate"></div>
  
            <span class="card__price card__will-animate" id="check_score"></span>
  
            <h1 class="card__title card__will-animate" id="heading4">Ecosystem</h1>
            <span class="card__subtitle card__will-animate">{{ question.question }}</span>
  
          </div>
  
          <div class="card__body">
            <div class="card__image card__will-animate"></div>
            <div class="card__wish-list card__wish-list--19 card__will-animate" id="buttons4">
              <div><button class="choices" id="4A">{{ question.choice1 }}</button></div>
              <div><button class="choices" id="4B">{{ question.choice2 }}</button></div>
              <div><button class="choices" id="4C">{{ question.choice3 }}</button></div>
              <div><button class="choices" id="4D">{{ question.choice4 }}</button></div>
            </div>
            <span class="card__category card__will-animate"></span>
          </div>
        </div>
        </div>
        {% endfor %}
    </div> <!-- /wrapper -->

    <div class="cards-placeholder">
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
    </div>
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
