{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>China</title>
    <link rel="stylesheet" href="{% static 'china/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'china/css/burger.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
  </head>
  <body>

    <!-- Navigation -->
    <div class="b-nav">
      <li><a class="b-link" href="{% url 'home' %}">Globe</a></li>
      <li><a class="b-link" href="">Profile</a></li>
    </div>
    
    <!-- Burger-Icon -->
    <div class="b-container">
      <div class="b-menu">
        <div class="b-bun b-bun--top"></div>
        <div class="b-bun b-bun--mid"></div>
        <div class="b-bun b-bun--bottom"></div>
      </div>
    </div>

    <div class="wrapper">
      <div class="card card--first">
        <div class="card__header card__header--first">
          <div class="card__watermark" data-watermark="Chi"></div>
          <div class="card__logo card__will-animate"></div>

          <span class="card__price card__will-animate">Question 1</span>

          <h1 class="card__title card__will-animate">Pollution</h1>
          <span class="card__subtitle card__will-animate">Which Chinese city is home to the world's biggest air purifier?</span>

        </div>

        <div class="card__body">
          <div class="card__image card__will-animate"></div>
          <div class="card__wish-list card__wish-list--19 card__will-animate">Multiple Choice Section</div>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>

      <div class="card card--second">
        <div class="card__header card__header--second">
          <div class="card__watermark" data-watermark="Chi"></div>

          <div class="card__logo card__will-animate"></div>

          <span class="card__price card__will-animate">Question 2</span>

          <h1 class="card__title card__will-animate">Ecosystem</h1>
          <span class="card__subtitle card__will-animate">What recycling-related thing did China do that heavily influenced the behavior of other developed countries?</span>

        </div>

        <div class="card__body">
          <div class="card__image card__will-animate"></div>
          <div class="card__wish-list card__wish-list--solstice card__will-animate">Multiple Choice Section</div>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>

      <div class="card card--third">
        <div class="card__header card__header--third">
          <div class="card__watermark" data-watermark="Chi"></div>

          <div class="card__logo card__will-animate"></div>

          <span class="card__price card__will-animate">Question 3</span>

          <h1 class="card__title card__will-animate">Waste Management</h1>
          <span class="card__subtitle card__will-animate">What is China's proportion of the global net increase in leaf area?</span>

        </div>

        <div class="card__body">
          <div class="card__image card__will-animate"></div>
          <div class="card__wish-list card__wish-list--taiwan card__will-animate">Multiple Choice Section</div>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>

      <div class="card card--fourth">
          <div class="card__header card__header--fourth">
            <div class="card__watermark" data-watermark="Chi"></div>
  
            <div class="card__logo card__will-animate"></div>
  
            <span class="card__price card__will-animate">Question 4</span>
  
            <h1 class="card__title card__will-animate">3R's</h1>
            <span class="card__subtitle card__will-animate">Which part of China has the most efficient recycling systems in the world?</span>
  
          </div>
  
          <div class="card__body">
            <div class="card__image card__will-animate"></div>
            <div class="card__wish-list card__wish-list--huarache card__will-animate">Multiple Choice Section</div>
  
            <span class="card__category card__will-animate"></span>
          </div>
        </div>

    </div> <!-- /wrapper -->

    <div class="cards-placeholder">
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
    </div>
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
  <script src="{% static 'china/js/index.js' %}"></script>
  <script src="{% static 'china/js/breakpoints.min.js' %}"></script>
  <script src="{% static 'china/js/burger.js' %}"></script>

</body>
</html>
