html,
body {
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;

  transition: background-color 0.2s;
  will-change: background-color;
  overflow: hidden;
  position: fixed;
  height: 100%;
}

.wrapper {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card {
  display: block;
  position: absolute;
  top: 10%;
  margin: 0 auto;
  width: 400px;
  background-color: #fff;
  border-radius: 15px;
  height: 600px;

  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2);

  transform: translateX(-50%);
  transition: left 0.5s ease-out;
  will-change: left;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.card--first {
  left: 50%;
}

.card--second,
.card--third,
.card--fourth {
  left: 150%;
}

.card__header {
  position: relative;
  height: 170px;
  padding: 30px 30px 300px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: #fff;
}

.card__header--first {
  background-color: #E30A17;
  background-image: linear-gradient(#E30A17, #FF0000);
  );

  background: #E30A17;
  background: linear-gradient(#E30A17, #FF0000);
}

.card__header--second {
  background-color: rgb(204,204,204);
  background-image: linear-gradient(rgb(204,204,204),#ffffff);

  background: rgb(204,204,204);
  background: linear-gradient(rgb(204,204,204),#ffffff);
  color: black;
}

.card__header--third {
  background-color: rgb(55,32,90);
  background-image: linear-gradient(rgb(55,32,90), #8850FF);

  background: rgb(55,32,90);
  background: linear-gradient(rgb(55,32,90), #8850FF);
}

.card__header--fourth {
  background-color: rgb(38,54,19);
  background-image: linear-gradient(rgb(38,54,19), rgb(66,147,60));

  background: rgb(38,54,19);
  background: linear-gradient(rgb(38,54,19),  rgb(66,147,60));
}

.card__watermark {
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.card__watermark::after {
  content: attr(data-watermark);
  position: relative;
  left: -20px;
  color: rgba(0, 0, 0, .3);
  font-size: 240px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__logo {
  width: 50px;
  height: auto;
}

.card__price {
  float: right;
  font-size: 16px;
  font-weight: 300;
}

.card__title {
  margin: 35px 0 20px;
  font-size: 30px;
  line-height: 1.1em;
  font-weight: semi-bold;
}

.card__subtitle {
  display: block;
  font-size: 13px;
  font-weight: 300;
}

.card__body {
  position: relative;
  padding: 40px 30px 20px;
}

.card__image {
  z-index: 1;
  position: absolute;
  top: -290px;
  left: -30px;
  width: 125%;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card__wish-list {
  display: block;
  width: 50%;
  margin: 0 auto 15px;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.card__wish-list--19 {
  color: #E30A17;
  border-color: #E30A17;
}

.card__wish-list--solstice {
  color: rgb(204,204,204);
  border-color: rgb(204,204,204)
}

.card__wish-list--quebec {
  color: rgb(55,32,90);
  border-color: rgb(55,32,90);
}

.card__wish-list--huarache {
  color: rgb(38,54,19);
  border-color: rgb(66,147,60);
}

.card__category {
  display: block;
  font-size: 12px;
  color: #AEAEAE;
  text-transform: uppercase;
  text-align: center;
}

.card__will-animate {
  will-change: transform;
}

.cards-placeholder {
  display: block;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.cards-placeholder__item {
  opacity: 0.3;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  width: 30px;
  height: 5px;
  border-radius: 5px;

  transition: opacity 0.2s;
  will-change: opacity;
}

.cards-placeholder__item--active {
  opacity: 1;
}
