<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://threejs.org/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/giojs@2.2.1/build/gio.min.js"></script>
    
    <title>Globe</title>

</head>
<body>
    <h1>Globe Here</h1>
    <a href="https://still-lake-26463.herokuapp.com/china/">China</a>
    <a href="https://still-lake-26463.herokuapp.com/turkey/">Turkey</a>
    <a href="https://still-lake-26463.herokuapp.com/brazil/">Brazil</a>
    <a href="https://still-lake-26463.herokuapp.com/canada/">Canada</a>
    <a href="https://still-lake-26463.herokuapp.com/india/">India</a>
</body>
</html>