.card__header--first {
  background-color: #E8112D;
  background-image: linear-gradient(#E8112D, #FF0000);

  background: #d53369; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d53369, #cbad6d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d53369, #cbad6d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card__header--second {
  background-color: #3D9B35;
  background-image: linear-gradient(#3D9B35, #34c033);

  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.card__header--third {
  background-color: #003366;
  background-image: linear-gradient(#003366, #003399);

  background: #BA8B02;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.card__header--fourth {
  background-color: rgb(237, 120, 241);
  background-image: linear-gradient(rgb(237, 120, 241), rgb(237, 120, 241));

  background: #6A9113;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #141517, #6A9113);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #141517, #6A9113); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}