{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
<title>Canada</title>
{% endblock %}
{% block css %}
<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');
</style>
<link rel="stylesheet" href="{% static 'canada/main/css/style.css' %}">

<link rel="stylesheet" href="{% static 'canada/burger/css/reset.css' %}"> <!-- CSS reset -->
<link rel="stylesheet" href="{% static 'canada/burger/css/style.css' %}"> <!-- Resource style -->
{% endblock %}
{% block javascript %}
<script src="{% static 'canada/main/js/index.js' %}"></script>
<script src="{% static 'canada/main/js/quiz.js' %}"></script>

<script src="{% static 'canada/burger/js/velocity.min.js' %}"></script>
<script src="{% static 'canada/burger/js/main.js' %}"></script>
<script src="{% static 'canada/burger/js/modernizr.js' %}"></script>

{% endblock %}
