{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'canada/css/style.css' %}">
<link rel="stylesheet" href="{% static 'canada/css/burger.css' %}">
{% endblock %}
{% block javascript %}
<script src="{% static 'canada/js/index.js' %}"></script>
<script src="{% static 'canada/js/breakpoints.min.js' %}"></script>
<script src="{% static 'canada/js/burger.js' %}"></script>
<script src="{% static 'canada/js/quiz.js' %}"></script>
{% endblock %}