{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
<title>Canada</title>
{% endblock %}
{% block css %}
<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');
</style>
<link rel="stylesheet" href="{% static 'main/css/base_style.css' %}">
<link rel="stylesheet" href="{% static 'canada/css/style.css' %}">

<link rel="stylesheet" href="{% static 'burger/css/reset.css' %}"> <!-- CSS reset -->
<link rel="stylesheet" href="{% static 'burger/css/style.css' %}"> <!-- Resource style -->
{% endblock %}
{% block javascript %}
<script src="{% static 'main/js/base_index.js' %}"></script>
<script src="{% static 'canada/js/canada_quiz.js' %}"></script>

<script src="{% static 'burger/js/velocity.min.js' %}"></script>
<script src="{% static 'burger/js/main.js' %}"></script>
<script src="{% static 'burger/js/modernizr.js' %}"></script>

{% endblock %}

{% block headline1 %}
<h1  id="heading1" class="card__title card__will-animate">Problems</h1>
{% endblock %}

{% block headline2 %}
<h1 id="heading2" class="card__title card__will-animate">Why?</h1>
{% endblock %}

{% block headline3 %}
<h1 class="card__title card__will-animate" id="heading3">Plastic</h1>
{% endblock %}

{% block headline4 %}
<h1 class="card__title card__will-animate" id="heading4">Plastic Waste</h1>
{% endblock %}