@keyframes sky {
    0%   {background-color: #010016;}
    50%  {background-color: #06032f;}
    100% {background-color: #010016;}
}

body {background-color: #010016;
    color: white;
    font-family: "Open Sans";
    -webkit-animation-name: sky;
    -webkit-animation-duration: 2s;
    animation-name: sky;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    text-align: center;
    margin: auto;
}

p {
    font-size: 48px
}

#buttons button {
    background-color: #3cab28;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 12px 24px 12px 24px;
    border-radius: 10px;
    border-bottom: solid #298827 6px;
    border-top: none;
    border-right: none;
    border-left: none;
    -webkit-transition: background-color 0.5s, border-bottom 0.5s;
    transition: background-color 0.5s,  border-bottom 0.5s;
}

button:hover {
    background-color: #98df7d;
    border-bottom:solid #34c033 6px;
}

 button {
    background-color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 36px;
    padding-bottom: 20px;
}

img {
    width: 100%;
    bottom: -30%;

}
