{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://threejs.org/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/giojs@2.2.1/build/gio.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'authen/css/main.css' %}">
    <title>Globe</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-12 mb-3">
            <h4 class="text-center">Welcome Back, {{ user.username }}</h4>
        </div>
        <header><a href="#">Profile</a> </header>
        <div class="col-sm-12 mt-2 text-center">
            <button class="btn btn-danger">
                <a href="{% url 'logout' %}">Logout</a>
            </button>
            <a href="{% url 'china' %}">China</a>
            <a href="{% url 'brazil' %}">Brazil</a>
            <a href="{% url 'india' %}">India</a>
            <a href="{% url 'turkey' %}">Turkey</a>
            <a href="{% url 'canada' %}">Canada</a>
        </div>
    </div>
    <div>
        <!-- container to draw 3D Gio globe-->
        <div id="globalArea"></div>
        <!-- container for selected country -->
        <div id="infoBoard">
            <div id="nameCard"></div>
        </div>
    </div>
    <script src="{% static 'authen/js/main.js' %}"></script>
</body>
