{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- CSS Section -->

  <!-- Profile -->
  <link rel="stylesheet" href="{% static 'authen/css/profile_style.css' %}">
  
  <!-- Burger Button -->
  <link rel="stylesheet" href="{% static 'burgerburger/css/reset.css' %}"> <!-- CSS reset -->
  <link rel="stylesheet" href="{% static 'burger/css/style.css' %}"> <!-- Resource style -->

  <!-- Suplementary -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Responsiveness -->
	<script src="{% static 'authen/js/modernizr.js' %}"></script>
</head>
<body>
    <nav>
        <ul class="cd-primary-nav">
            <li><a href="{% url 'home' %}">Globe</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'aboutus' %}">About Us</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
                
    <div class="cd-overlay-nav">
        <span></span>
    </div>
            
    <div class="cd-overlay-content">
        <span></span>
    </div>
    <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
  <div class="profile-panel profile-panel-orange">
    <div class="profile-header">
      </h2>
      <div class="profile-image">
        <img src="https://randomuser.me/api/portraits/men/4.jpg" />
        <div class="profile-status profile-status-away"></div>
      </div>
    </div>
    <div>
      </h2>
      <div class="profile-header" id="second">
        <h1>
          {{ request.user.first_name }}
        </h1>
        <h2>
            {{ request.user }}
          </h2>
          <h2>
            {{ title }}
          </h2>
      </div>
      <div class="profile-header">
      </div>
    </div>
  </div>
  <!-- JS Section -->
  
  <!-- Burger Button -->
  <script src="{% static 'authen/js/velocity.min.js' %}"></script>
  <script src="{% static 'authen/js/burger_main.js' %}"></script>
</body>
</html>