{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
<title>China</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'china/css/style.css' %}">
<link rel="stylesheet" href="{% static 'china/css/burger.css' %}">
{% endblock %}
{% block javascript %}
<script src="{% static 'china/js/index.js' %}"></script>
<script src="{% static 'china/js/breakpoints.min.js' %}"></script>
<script src="{% static 'china/js/burger.js' %}"></script>
<script src="{% static 'china/js/quiz.js' %}"></script>
{% endblock %}

