{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
<title>India</title>
{% endblock %}
{% block css %}
<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');
</style>
<link rel="stylesheet" href="{% static 'main/css/base_style.css' %}">
<link rel="stylesheet" href="{% static 'india/css/style.css' %}">

<link rel="stylesheet" href="{% static 'burger/css/reset.css' %}"> <!-- CSS reset -->
<link rel="stylesheet" href="{% static 'burger/css/style.css' %}"> <!-- Resource style -->
{% endblock %}
{% block javascript %}
<script src="{% static 'main/js/base_index.js' %}"></script>
<script src="{% static 'main/js/base_quiz.js' %}"></script>

<script src="{% static 'burger/js/velocity.min.js' %}"></script>
<script src="{% static 'burger/js/main.js' %}"></script>
<script src="{% static 'burger/js/modernizr.js' %}"></script>

{% endblock %}
