body{
    background-color: #363442;
    font-family: Verdana;
}
div{
    color: white;
}
p{
    text-align: center;
    font-size: 4em;
    top: 3em;
}
#context{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 14em;
}
a{
    color: white;
    text-decoration: none;
}

#headline{
    top: 25%;
    left: 50%;
    font-size: 7em;
    transform: translate(-50%, -25%);
    position: absolute;

}
#sorry{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-65%);
    width: 14em;

}
img{
    height: 12em;
    width: 12em;
    top: 10%;
    left: 50%;
    transform: translate( -50%, 0);
    position: absolute;
}
#btn{
    border: 1px solid white;
    border-radius: 0.2em;
    padding: 0.3em;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -75%);
}