body{
    margin: 0;
    max-width: 100%;
    background: #333 url(//unsplash.it/1000/1000);
    background-blend-mode: multiply;
    background-size: cover;

}
.content {
    height: 200vh;
    background-image: url(//unsplash.it/1000/1000);
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}
header{
    background: #55d6aa;
}
#logo{
    float: left;
    /*padding-top: 20px;*/
    font-size: 20px;
}
nav{
    float: right;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 20px;
    padding-top: 20px;
    position: relative;
}
nav ul li a{
    color: #444444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
nav a:hover{
    color: #000;

}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0;
    background-color: #444444;
    position: absolute;
    top: 0;
    transition: all ease-in-out 300ms;

}
nav a:hover::before{
    width: 100%;
}